@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: url(""); /* add the background! */
}

h1, h2 {
  margin: 0;
}

header, 
main {
  margin: 2rem;
  padding: 1rem;
}

header {
  background: #fff;
}

main {
  font-family: "Mynerve", "Helvetica", "Arial", cursive;
  width: 300px;
  height: 300px;
  background-color: rgb(251,224,110);
  transform: rotate(10deg);
  margin: 5rem 0 0 5rem;
}