main {
  border: 2px dotted #222;
  min-height: 200px;
}

#red,
#orange,
#yellow,
#green,
#blue,
#purple {
  width: 100px;
  height: 100px;
  border: 1px solid #222;
  padding: 10px;
}

#red {
  border-color: rgb(234,50,35);
  background-color: rgba(234,50,35,0.5);
}

#orange {
  border-color: rgb(243,168,59);
  background-color: rgba(243,168,59,0.5);
}

#yellow {
  border-color: rgb(249,211,87);
  background-color: rgba(249,211,87,0.5);
}

#green {
  border-color: rgb(55,125,34);
  background-color: rgba(55,125,34,0.5);
}

#blue {
  border-color: rgb(0,30,245);
  background-color: rgba(0,30,245,0.5);
}

#purple {
  border-color: rgb(117,25,124);
  background-color: rgba(117,25,124,0.5);
}
