.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  grid-auto-rows: 300px;
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
  grid-gap: 30px;
  max-width: 900px;
}


/* Write your styles above this line! 👆👆👆 */

.grid div {
  border: 1px solid rgb(12,71,162);
  border-radius: 3px;
  background-color: rgba(12,71,162,0.8);
  padding: 0.2rem;
  color: #fff;
}

.grid div:nth-of-type(2n) {
  background-color: rgba(12,71,162,0.6);
}
