@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  /* font-weight: 400; */
  color: red;
}

h1,
h2 {
  font-weight: 900;
}

p {
  line-height: 1.3;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

.attribution {
  text-align: right;
}

/* ignore these rules ... for now :) */

figure {
  margin: 0;
}

main {
  max-width: 600px
}
